services:
  app:
    build: .
    # image: ghcr.io/reyhaonan/ellty-server:main
    container_name: number-comm-api
    restart: always
    environment:
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASS}@db:5432/${DB_NAME}
      PORT: ${PORT}
      SESSION_SECRET: ${SESSION_SECRET}
      CORS_ORIGIN: ${CORS_ORIGIN}
    depends_on:
      - db
    ports:
      - "3000:3000"

  db:
    image: postgres:15
    container_name: number-comm-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
