services:
  app:
    build: .
    container_name: number-comm-api
    restart: always
    env_file: .env
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: ["pm2-runtime", "dist/index.js"]

  db:
    image: postgres:15
    container_name: number-comm-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
